<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    # Eğer istenen şey gerçek bir dosya (!-f) veya klasör (!-d) değilse...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    
    # ...tüm trafiği index.php'ye yönlendir.
    RewriteRule ^ index.php [QSA,L]
</IfModule>